# Dependencies
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Env
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.iml
.DS_Store
/dist/
/node_modules/
/.idea/
